@import "../../assets/scss/fonts";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.ant-dropdown {
  .ant-btn {
    padding: 4px 24px;
    font-size: 14px;

    &.ant-btn-link {
      &:not(:disabled) {
        color: $danger;
      }
    }
  }

  .ant-table-filter-dropdown {
    .ant-dropdown-menu {
      .ant-dropdown-menu-item {
        &.ant-dropdown-menu-item-selected {
          background-color: $bg-light;
        }
      }
    }
  }
}
