@import "../../../assets/scss/fonts";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.ActionsTopPanel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  .ActionsTopPanel-search {

  }

  .ActionsTopPanel-create {

  }
}
