@import "../../assets/scss/fonts";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.ant-layout {
  .ant-layout-sider {
    min-height: 100vh;
    background: lighten($primary, 0%);

    .sider-title {
      color: $white;
      text-align: center;
      margin-bottom: 0;
      padding: 8px 0;
    }
  }

  .ant-layout-header {
    background: $white;
    padding: 0 16px;
  }

  .ant-layout-content {
    padding: 16px;

    .container {
      padding: 16px;
      background-color: $white;
      height: 100%;
      position: relative;

      .container-lg {
        max-width: 1200px;
        margin: auto;
      }

      .container-md {
        max-width: 992px;
        margin: auto;
      }

      .container-sm {
        max-width: 768px;
        margin: auto;
      }

      .container-xs {
        max-width: 576px;
        margin: auto;
      }
    }
  }

  &.container-pt {
    .container {
      padding-top: 80px;
    }
  }
}
